/*Schrijf hier jouw CSS*/

/*---BODY---*/

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
/*---NAV---*/
nav, header, aside, footer {
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    flex-direction: row;
    flex-basis: 20vw;

}
/*---outer-col-2---*/
.outer-col-2 {
    display: flex;
    flex-direction: column;
    flex-basis: 80vw;
}

header, footer {
    flex-basis: 150px;
}
.inner-row {
    display: flex;
    flex-direction: row;
    flex-basis: 662px;
    flex-grow: 1;
}

.inner-col {
    display: flex;
    flex-direction: column;
    flex-basis: 80vw;
}

aside {
    flex-basis: 20vw;
}

article{
    flex-basis: 512px;
    flex-grow: 1;
    flex-shrink: 1;

}
